[submodule "administrator/components/com_jfusion/plugins/prestashop"]
	path = administrator/components/com_jfusion/plugins/prestashop
	url = git@github.com:Truemedia/JFusion-PrestaShop-plugin.git
[submodule "administrator/components/com_jfusion/plugins/xenforo"]
	path = administrator/components/com_jfusion/plugins/xenforo
	url = git@github.com:Truemedia/JFusion-xenforo-plugin.git
