[submodule "administrator/components/com_jfusion/plugins/prestashop"]
	path = administrator/components/com_jfusion/plugins/prestashop
	url = git@github.com:Truemedia/JFusion-PrestaShop-plugin.git
[submodule "administrator/components/com_jfusion/plugins/xenforo"]
	path = administrator/components/com_jfusion/plugins/xenforo
	url = git@github.com:Truemedia/JFusion-xenforo-plugin.git
[submodule "administrator/components/com_jfusion/plugins/vtiger"]
	path = administrator/components/com_jfusion/plugins/vtiger
	url = git@github.com:Truemedia/JFusion-vtiger-plugin.git
[submodule "administrator/components/com_jfusion/plugins/portport"]
	path = administrator/components/com_jfusion/plugins/portport
	url = git@github.com:Truemedia/JFusion-portport-plugin.git
[submodule "administrator/components/com_jfusion/plugins/mrbs"]
	path = administrator/components/com_jfusion/plugins/mrbs
	url = git@github.com:Truemedia/JFusion-MRBS-plugin.git
[submodule "administrator/components/com_jfusion/plugins/eyeos"]
	path = administrator/components/com_jfusion/plugins/eyeos
	url = git@github.com:Truemedia/JFusion-eyeos-plugin.git
[submodule "administrator/components/com_jfusion/plugins/drupal"]
	path = administrator/components/com_jfusion/plugins/drupal
	url = git@github.com:Truemedia/JFusion-drupal-plugin.git
[submodule "administrator/components/com_jfusion/plugins/external_authentication"]
	path = administrator/components/com_jfusion/plugins/external_authentication
	url = git@github.com:Truemedia/JFusion-external-plugin.git
